.badge {
  width: 40%;
  border: 2px solid red;
  position: fixed;
  top: 20vh;
  left: 30%;
  /* height: 23vh; */
  height: auto;
  background-color: #111827;
  z-index: 10;
  flex-direction: column;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 5;
  padding: 5px;
  border: 1px solid #00adb5;
}
.d-none {
  display: none;
}
/* #badge::before {
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #272d39b1;
} */
.badge > .first_cont {
  padding: 10px;
  display: flex;
  height: 40%;
  width: 90%;
  border-radius: 10px;
  background-color: #5455571c;
  margin-bottom: 10px;
  align-items: center;
  height: auto;
  margin-top: 10px;
}

.badge .loader2 {
  z-index: 3;
  width: 27%;
  height: 70%;
  border: 19px solid#00adb5;
  border-color: #00adb5 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
}
.badge-img {
  margin-right: 10px;
  margin-left: 10px;
}
.badge-message > p {
  font-size: 25px;
}
.badge-message-2 {
  background-color: #5455572f;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 8px;
  padding: 10px;
}
.badge > .second_cont {
  height: 25%;
  width: 90%;
  display: flex;
  align-items: center;

  justify-content: right;
  /* height: auto;
margin-top: 10px; */
  /* border: 2px solid rgb(69, 64, 64); */
}
.second_cont div {
  width: 20%;
  height: 27px;
  border-radius: 5px;
  /* padding: 10px; */
  color: #111827;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-left: 18px;
  padding: 2px 5px;
}
.btn-first {
  transition: 1s;
  /* background-color: rgb(61, 109, 74); */
  border: 2px solid #00adb5;
}
.btn-first:hover {
  background-color: #00adb5;
}
.btn-second {
  background-color: #f85149;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* .scale-down-center {
  -webkit-animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
} */
@media only screen and (max-width: 600px) {
  .badge {
    width: 74%;
    border: 2px solid red;
    position: fixed;
    top: 20vh;
    left: 12%;
    height: 16vh;
    background-color: #111827;
    z-index: 10;
    flex-direction: column;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 5;
    padding: 5px;
    height: auto;
    border: 1px solid #00adb5;
  }
  #badge::before {
    content: "";
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #272d39b1;
  }
  .badge-message > p {
    font-size: 20px;
  }
  .badge > .first_cont {
    height: auto;
    margin-top: 10px;
  }
}
