* {
  color: black;
}
.comment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 2% 15% 2% 15%;
  height: auto;
  scrollbar-width: none;
}

.input-cmnt {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111827;
  margin-bottom: 10px;
  height: 5vh;
  padding: 10px;
  padding-left: 5%;
}
.my-profile {
  width: 100%;
  height: 10vw;
}
.send {
  rotate: 45deg;
  margin-left: 5px;
  color: #111827;
}
.add-cmt-btn {
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 30px;
  margin-left: 7px;
  border: none;
  border-radius: 5px;
  background-color: #00adb5;
  /* border: 1px solid #00adb5; */
  font-size: 17px;
  font-weight: 600;
  color: #111827;
  cursor: pointer;
}
.add-cmt-btn > span {
  margin-left: 5px;
  /* width: 5%; */
}
.comments {
  background-color: #111827;
  border-radius: 10px;
  height: auto;
}
.commmenter-name {
  color: #00adb5;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  /* margin-left: 20px; */
  width: 75%;
  /* border: 2px solid green; */
}
.coment-msg {
  margin-top: 20px;
  font-size: 15px;

  color: #fcfcfc;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}
span > .calender {
  color: #00adb5;
}
.comment {
  border-radius: 10px;
  margin: 5%;
  padding: 5%;
  height: auto;
  background-color: #32354075;
}
/* .comment > p {
  color: black;
} */
.comment-profile {
  display: flex;
  align-items: center;
}
.date {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9a9a9a;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  /* border: 2px solid #00adb5; */
  margin-left: 10px;
  /* position: absolute;
  right: 0px; */
}
.date > span {
  margin-left: 5px;
}
.comment-profile > .profile-img {
  width: 10%;
  padding: 2px;
  /* border: 2px solid #00adb5; */
}

.profile-img > img {
  /* border: 2px solid grey; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    width: 100%;
    margin: 0px;
  }
  .input-cmnt {
    width: 80%;
  }
  .add-cmt-btn {
    width: 27%;
  }
  .comments {
    width: 90%;
  }
  .commmenter-name {
    font-size: 18px;
    margin-left: 24px;
  }
  .date {
    font-size: 13px;
  }
}
