.NewComp {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #00adb5;
  background-color: #111827e1;
  border-radius: 5px;
  margin: 1%;
  margin-top: 2%;
  /* margin-top: 10px; */
  height: 10vh;
  transition: height 1s;
}
.increaseWidth {
  height: 40vh;
}

.plus {
  display: flex;
  justify-content: left;
  align-items: center;
  /* background-color: #2d2c2c; */
  width: 98%;
  margin: 1%;
  border-radius: 3%;
  height: 76%;
  /* font-size: 300px; */
}

.plus-left {
  cursor: pointer;
  /* position: absolute; */
  /* left: 0px;
   */
  /* right: 3%; */
  color: #00adb5;
  font-size: 50px;
  height: 40px;
  width: 40px;
  border: 1px solid rgb(245, 245, 245);
  border-style: dotted;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-new-para {
  font-size: 30px;
  font-family: "Catamaran", sans-serif;
  margin-left: 10px;
}
.crete-comp-btn {
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  background-color: #6d23dc76;
  cursor: pointer;
  /* background-color: #2d2c2c; */
  border: 0px;
  width: 98%;
  margin: 1%;
  padding: 0px;
  height: 20%;
  /* font-size: 300px; */
}
.Add-deatails {
  border-radius: 5px;
  padding: 1%;
  background-color: rgba(12, 11, 11, 0.546);
  /* transition: opacity 5s; */
  /* opacity: 1; */
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  margin: 1%;
  padding: 1%;
}
.display-none {
  display: none;
}
.input {
  opacity: 1;
  z-index: 4;
  border-radius: 5px;
  height: 30px;
  padding: 0px 5px 0px 5px;
  color: black;
  width: 90%;
  color: white;
  background-color: rgba(255, 255, 255, 0.057);
  /* border: 5px solid grey; */
}
.label {
  border: 1px solid #6d23dcde;
  margin-right: 10px;
  font-size: 20px;
  border-radius: 5px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7634d97c;
}
.div-label {
  /* display: none; */
  margin: 5px 0px 5px 0px;
  width: 95%;
  background-color: #2d2c2c;
  /* border: 2px solid grey; */
  padding: 6px;
  border-radius: 6px;
  align-items: center;
  display: flex;
}
.genrate-btn {
  padding: 3px;
  border-radius: 6px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 23%;
  height: 100%;
  /* margin-right: 7px; */
  border: none;
  border-radius: 5px;
  background-color: #503081;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.genrate-btn > .loading {
  height: 100%;
  width: 30%;
  /* border:2px solid #0e0f0f; */
}
.title-part {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  margin-top: 3px;
  /* justify-content: center; */
}
.title-div {
  width: 70%;
  margin-right: 1%;
}
.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media only screen and (max-width: 600px) {
  .label {
    width: 30%;
  }
  .plus {
    height: 15%;
  }
  .NewComp {
    margin-top: 10px;
  }
  .create-new-para {
    font-size: 20px;
  }
  .genrate-btn {
    margin: 4px;
    padding: 0px;
    width: 74%;
  }
  .NewComp {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Add-deatails {
    height: 65%;
  }
}
