.ProductAnalysis {
  width: 100%;
  /* border: 3px solid rgb(218, 25, 25); */
  /* position: relative; */
  /* left: 0px; */
  /* top: 0px; */
  margin-top: 2%;
  display: flex;
  height: auto;
  flex-direction: row;
}

.analysis-left {
  width: 40%;

  background-color: #ffffff;
  height: auto;
  border: 1px solid #8f44fd;
}

.back-btn {
  border-radius: 20%;
  width: 50px;
  height: 50px;
  z-index: -1;
  position: fixed;
  top: 8vh;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111827;
  /* margin: 2px; */
  border-radius: 20%;
  z-index: 5;

  /* padding: 5px; */

  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid grey; */
  background-color: #111827;
  /* border: 2px solid #00adb5; */
}
.fa-angles-left {
  color: #00adb5;
}
.Price-offers {
  width: auto;
  /* border: 2px solid rgb(215, 30, 30); */
  margin: 5%;
  margin-top: 0px;
  /* height: 40vh;p */
  border-radius: 10px;

  background-color: #111827;
}
.price {
  /* border: 2px solid grey; */
  height: 12vh;
  z-index: 5;
  background-color: #111827;
  display: flex;
  /* flex-direction: column; */
  /* padding: 5%; */
  justify-content: space-around;
  align-items: center;

  border-radius: 10px;
  border: 1px solid #773131;
}
.offers {
  padding: 2%;
  height: 35vh;
  overflow: auto;
}
.offers > div:nth-child(2) > p {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  /* border: 1px solid#773131; */
  /* border: 1px solid #426f71; */

  background-color: rgba(255, 255, 255, 0.057);
}
.offers > div > p > span {
  color: #ffffff;

  font-weight: 600;
}
/* notification part code */
.notification {
  width: auto;
  /* border: 2px solid rgb(215, 30, 30); */
  margin: 5%;
  margin-top: 0px;
  /* height: 40vh;p */
  border-radius: 10px;
  display: flex;
  padding: 1%;
  background-color: #111827;
}
.notification > .bell {
  /* border: 2px solid grey; */
  background-color: #00adb5;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 2%;
}
.notify-para {
  display: flex;
}
.notify-para > input {
  opacity: 1;
  z-index: 4;
  border-radius: 5px;
  height: 30px;
  padding: 0px 5px 0px 5px;
  color: black;
  width: 80%;
  color: white;
  background-color: rgba(255, 255, 255, 0.057);
  /* border: 5px solid grey; */
}
.notify {
  width: 81%;
}
.notify > p {
  margin: 5px;
}
.notify-para > .btn {
  padding: 1px;
  border-radius: 6px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 32%;
  margin: 1%;
  margin-top: 0%;
  height: 100%;
  /* margin-right: 7px; */
  border: none;
  border-radius: 5px;
  background-color: #503081;
  font-size: 19px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.link-price {
  height: 45%;
  border: 1px solid #00adb5;
  width: 40%;
  background-color: #25232338;
  /* margin-top: 2%; */
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #773131;
}
.WEB-logo {
  padding: 1%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.WEB-logo-border {
  padding: 1%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #00adb5;
}
.amazon {
  /* margin-left: 10px; */
  width: 40px;
}
.flipkart {
  width: 30px;
  width: 80%;
}
.price-value {
  width: 90%;
}
.price-value > p {
  /* border: 1px solid #00adb5; */
  width: 100%;
  text-align: center;
  font-size: 25px;
}
.analysis-right {
  background-color: #111827;
  width: 60%;
  height: 145vh;
}
.analysis-title {
  font-weight: 700;
  font-size: 30px;
  margin: 2%;
  color: #00adb5;
  margin-left: 4%;
  height: 17%;
  /* padding-right: 20px; */
}
.but-changePeriod {
  padding: 10px;
  margin: 2%;
  display: flex;
  align-items: center;
}
.bg-normal {
  color: rgb(249, 249, 249);
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  /* margin: 20px; */
  font-size: 15px;
  border: 1px solid #8f44fd;
  margin-right: 20px;
  border-radius: 9px;
  background-color: #1d1d1d73;
  /* width: var(--button-width); */

  cursor: pointer;
}
.bg-purple {
  color: rgb(249, 249, 249);
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  /* margin: 20px; */
  font-size: 15px;
  border: 1px solid #8f44fd;
  margin-right: 20px;
  border-radius: 9px;
  cursor: pointer;
  background-color: #8f44fd;
}
.analysis-chart {
  background-color: #25232338;
  margin: 2%;
  margin-top: 0px;
  padding: 2%;
  /* height: auto; */
  border-radius: 14px;
  border: 1px solid #773131;
}
.analysis-details {
  margin: 2%;
  height: 30%;
}

.imageSlider {
  /* border: 2px solid greenyellow; */
  width: 80%;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scale-up-top {
  -webkit-animation: scale-up-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

.blur-out-contract-bck {
  -webkit-animation: blur-out-contract-bck 0.5s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: blur-out-contract-bck 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
}
@-webkit-keyframes blur-out-contract-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes blur-out-contract-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
canvas {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}
.scale-up-top {
  -webkit-animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

@media only screen and (max-width: 600px) {
  .ProductAnalysis {
    width: 100%;
    flex-direction: column;
  }
  .analysis-left {
    width: 100%;
  }
  .analysis-right {
    width: 100%;
  }
  .analysis-chart {
    height: auto;
  }
  .analysis-right {
    padding-top: 10px;
  }
  .analysis-title {
    display: none;
  }
  .analysis-title-up {
    background-color: #111827;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    /* color: #ffffff; */
    color: #00adb5;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .up-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .analysis-right {
    height: 100vh;
  }
}



/* go to the site part  */
        
/* .bubble5 {
  position: relative;
  width: 30px;
  height: 10px;
  padding: 5px;
  color: #32557f;
  border-radius: 5px;
  border: 3px solid #32557f;

  &::before,
  &::after {
    content: '\0020';
    display: block;
    position: absolute;
    top: -15px;
    left: 15px;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    border: solid 15px transparent;
    border-top: 0;
    border-bottom-color: #7eb4e2;
  }

  &::before {
    top: -18px;
    z-index: 1;
    border-bottom-color: #32557f;
  }
} */
    